html {
    display: grid;
    min-height: 100%;
    background-color: #e2dfd9;
}

body {
    font-family: "Lato", sans-serif;
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 10px 10px 5px gray;
    width: 400px;
    margin: auto;
}

h1 {
    font-size: 20pt;
    color: red;
    margin-bottom: 20px;
}

p {
    font-size: 16pt;
    color: #333;
}

.back-btn {
    font-size: 12pt;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #3f413a;
    color: white;
    width: 100%;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #595c50;
}